@{ 
    int maxVersion = 10;
    var versionList = new List<string>();
    for(int i = 1; i < maxVersion + 1; i++)
    {
        versionList.Add(i.ToString());
    }
}

<div>
    <span>
        @Html.Label("Name")
        @Html.TextBox("SearchName", ViewBag.SearchName as string)
        @Html.Label("Version")
        @Html.DropDownList("SearchVersion", new SelectList(@versionList), "Select Version", ViewBag.SearchVersion as string)
        <input type="submit" value="" style="background:url('/images/search_logo.png') no-repeat center; width:60px; height:40px; vertical-align:middle" />
    </span>
</div>
