@model DinamicDataMvc.Models.Metadata.MetadataModel
@{
    ViewData["Title"] = "Create";
    var CurrentDate = DateTime.Now.ToLocalTime().ToString();

    //Display an alert message if the Process Name already exists in the database;
    if (TempData["AlertMessage"] != null)
    {
        <script type="text/javascript">
                window.alert(@Html.Raw(Json.Serialize(TempData["AlertMessage"])));
        </script>
    }
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/PageStyleFile.css" />
</head>
<body style="background-color:ghostwhite">
    <hr />
    <div class="container" id="subtitleDiv">
        <h2 id="ProcessDescription">Create New Form</h2>
    </div>
    <hr />
    <div class="row justify-content-lg-center" style="border:none; margin-left:15px; margin-right:15px;">
        @using (Html.BeginForm("CreateProcess", "Metadata", FormMethod.Post, new { @width = "60%" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"><b>Form Name</b></label>
                <input asp-for="Name" class="form-control" type="text" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"><b>Form Version</b></label>
                <input asp-for="Version" class="form-control" type="text" readonly value="0" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch" class="control-label"><b>Branch</b></label>
                <div class="row">
                    <div class="columns" style="padding-left:25px;">
                        <label><b><i>Development</i></b></label>
                        <input type="checkbox" class="form-control" name="branch" value="Dev" checked />
                    </div>
                    <div class="columns" style="padding-left:25px;">
                        <label><b><i>Quality</i></b></label>
                        <input type="checkbox" class="form-control" name="branch" value="Qa" />
                    </div>
                    <div class="columns" style="padding-left:25px;">
                        <label><b><i>Production</i></b></label>
                        <input type="checkbox" class="form-control" name="branch" value="Prod" />
                    </div>
                </div>
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Date" class="form-control" type="hidden" value="@CurrentDate" readonly size="10" />
            </div>
            <div class="form-group">
                <input asp-for="State" class="form-control" type="hidden" readonly="readonly" value="Inactive" size="10" />
            </div>
            <div class="button-group" style="margin-top:50px; margin-left:70px;">
                <button type="reset"><i class="fa fa-eraser"></i> Clear </button>
                <button type="submit"><i class="fa fa-plus"> Fields </i></button>
            </div>
        }
    </div>
    <br />
    <hr />
    <div class="row justify-content-lg-center">
        @using (Html.BeginForm("Read", "Metadata", FormMethod.Get))
        {
            <button type="submit"><i class="fa fa-close"></i> Cancel </button>
        }
    </div>
</body>
