@model DinamicDataMvc.Models.Field.ViewFieldModel
@{
    ViewData["Title"] = "Create";
    var type = ViewBag.Type;
    var processID = ViewBag.ID;
    var now = DateTime.Now.Date.ToString().Substring(0, 10);
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/PageStyleFile.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <hr />
    <div class="container" id="subtitleDiv">
        <h2 id="FieldDescription">Create @type Field</h2>
    </div>
    <hr />
    <div class="row justify-content-lg-center" style="margin-left:15px; margin-right:15px; border:none">
        @using (Html.BeginForm("AddField", "Field", Model, FormMethod.Post, false, new { @width = "60%" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Type" class="form-control" name="Type" value="@type" readonly />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Name" class="control-label"><b>Field Name</b></label>
                <input asp-for="Name" class="form-control" name="Name" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                @if (!type.Equals("TextArea"))
                {
                    <label asp-for="Size" class="control-label"><b>Field Size</b></label>
                }
                @if (type.Equals("TextArea"))
                {
                    <label asp-for="Size" class="control-label"><b>Field Nº of Lines</b></label>
                }

                <input type="number" min="1" max="500" asp-for="Size" class="form-control" name="Size" required />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Value" class="control-label"><b>Default Value</b></label>
                <input type="text" asp-for="Value" class="form-control" name="Value" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <div class="form-group">
                @if (!type.Equals("TextArea"))
                {
                    <label asp-for="Maxlength" class="control-label"><b>Field Max Length</b></label>
                }
                @if (type.Equals("TextArea"))
                {
                    <label asp-for="Maxlength" class="control-label"><b>Field Nº of Cols</b></label>
                }
                <input type="number" min="1" max="500" asp-for="Maxlength" class="form-control" name="Maxlength" required />
                <span asp-validation-for="Maxlength" class="text-danger"></span>
            </div>
            @if (!type.Equals("TextArea"))
            {
                @:<div class="form-group">
                    <label asp-for="Required" class="control-label"><b>Field Required</b></label>
                    <input type="checkbox" asp-for="Required" class="form-control" name="Required" style="vertical-align:top" />
                    <span asp-validation-for="Required" class="text-danger"></span>
                @:</div>
            }

            @if (type.Equals("TextArea"))
            {
                @:<div class="form-group">
                    <label asp-for="Required" class="control-label"><b>Field Required</b></label>
                    <input type="checkbox" asp-for="Required" class="form-control" name="Required" style="vertical-align:top" disabled/>
                    <span asp-validation-for="Required" class="text-danger"></span>
                @:</div>
            }

            <div class="form-group">
                <input type="hidden" asp-for="CreationDate" class="form-control" name="CreationDate" value="@now" readonly />
            </div>
            <div class="from-group">
                <input type="hidden" asp-for="ProcessID" class="form-control" name="ProcessID" value="@processID" readonly />
            </div>
            <div class="button-group" style="margin-top:50px; margin-left:25px;">
                <button type="reset"><i class="fa fa-eraser"></i> Clear </button>
                <button type="submit"><i class="fa fa-plus"> Fields </i></button>
            </div>
        }
    </div>
    <br />
    <hr />
    <div class="row justify-content-lg-center">
        <button type="button" onclick="GoBack();"><i class="fa fa-toggle-left"></i> Go Back </button>
    </div>
</body>
