@{
    ViewData["Title"] = "Display";
    var processID = ViewBag.ID;
}

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                @using (Html.BeginForm("Create", "Field", new { Type = "Password", Process = processID }, FormMethod.Post))
                {
                    <button type="submit" id="pwdBtn"><img src="~/images/Password.jpg" /></button>
                }

            </div>
            <div class="col-sm-4">

                @using (Html.BeginForm("Create", "Field", new { Type = "Text", Process = processID }, FormMethod.Post))
                {
                    <button type="submit" id="textBtn"><img src="~/images/Text.png" /></button>
                }
            </div>
            <div class="col-sm-4">

                @using (Html.BeginForm("Create", "Field", new { Type = "Number" , Process = processID }, FormMethod.Post))
                {
                    <button type="submit" id="numBtn"><img src="~/images/Number.png" /></button>
                }
            </div>
            <div class="col-sm-4">
                @using (Html.BeginForm("Create", "Field", new { Type = "Text Box", Process = processID }, FormMethod.Post))
                {
                    <button type="submit" id="txtBoxBtn"><img src="~/images/TextBox.png" /></button>
                }
            </div>
        </div>
    </div>
</body>