
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<head>
    <meta charset="iso-8859-1" content="width=device-width, initial-scale=1.0"/>
    <title>Fields</title>
</head>
<body>
    <div>
        <form asp-action="Create" asp-controller="Field" method="post">
            <div>
                <input type="hidden" value="Number" name="type" />
            </div>
            <input type="submit" value="Number" class="btn btn-success" />
        </form>
    </div>
    <br />
    <div>
        <form asp-action="Create" asp-controller="Field" method="post">
            <div>
                <input type="hidden" value="Password" name="type" />
            </div>
            <input type="submit" value="Password" class="btn btn-success" />
        </form>
    </div>
    <br />
    <div>
        <form asp-action="Create" asp-controller="Field" method="post">
            <div>
                <input type="hidden" value="Text" name="type" />
            </div>
            <input type="submit" value="Text" class="btn btn-success" />
        </form>
    </div>
</body>

