@model DinamicDataMvc.Models.Field.ViewFieldModel

@{
    ViewData["Title"] = "Update";
    var FieldId = ViewBag.FieldId;
    var PropertiesId = ViewBag.PropertiesID;
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <hr />
    <h1>Update Field - @Html.DisplayTextFor(model => model.Type)</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("SaveUpdate", "Field", new { fieldId = FieldId, propertiesId = PropertiesId }, FormMethod.Post))
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <input asp-for="Type" class="form-control" type="text" required readonly="readonly" id="FieldType" name="Type" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" type="text" required id="FieldName" name="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Size" class="control-label"></label>
                    <input asp-for="Size" class="form-control" type="number" min="1" max="25" required id="PropertiesSize" name="Size" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control" required id="PropertiesValue" name="Value" type="text"/>
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Maxlength" class="control-label"></label>
                    <input asp-for="Maxlength" class="form-control" type="number" min="1" max="50" required name="MaxLength" />
                    <span asp-validation-for="Maxlength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Required" class="control-label"></label>
                    <input asp-for="Required" class="form-control" name="Required" type="checkbox"/>
                    <span asp-validation-for="Required" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreationDate" class="control-label"></label>
                    <input asp-for="CreationDate" class="form-control" type="text" required readonly="readonly" name="CreationDate" />
                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="container">
        @using (Html.BeginForm("Read", "Field", FormMethod.Get))
        {
            <span>
                <label class="form-group">Back to List </label>
                <button><i class="fa fa-list"></i></button>
            </span>
        }
    </div>
    <hr />
</body>

