@model DinamicDataMvc.Models.Tools.CollectionModel
@{
    ViewData["Title"] = "GetAllCollections";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/PageStyleFile.css" />
</head>
<body>
    <div class="container">
        <div class="table-responsive table-striped">
            <table class="table table-bordered" border="1" style="border-style:dotted">
                <thead>
                    <tr style="background-color:#212529; color:white;">
                        <td>
                            @Html.DisplayName("Collection Names")
                        </td>
                        <td>
                            @Html.DisplayName("Number of Documents")
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.CollectionNames.Count(); i++)
                    {
                        <tr>
                            <td>
                                <strong><i>@Model.CollectionNames.ElementAt(i)</i></strong>
                            </td>
                            <td>
                                <strong><i>@Model.NumberOfDocuments.ElementAt(i)</i></strong>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <button type="button" onclick="GoBack();"><i class="fa fa-toggle-left"> Go Back </i></button>
    </div>
</body>

