@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:ghostwhite">
    <div class="progress-bar-animated">
        <img id="main_image" src="~/images/layout_logo.png" alt="funcional_logo" />
    </div>
    <div class="text-center">
        <h1 class="display-4" lang="en-us" style="font-family:Arial, Helvetica, sans-serif;"> <strong>Motor de Estados com Modelo de Dados de Estrutura Dinâmica</strong></h1>
    </div>
</body>

