@{
    ViewData["Title"] = "Home Page";
}

<div class="progress-bar-animated">
    <img id="main_image" src="~/images/layout_logo.png" alt="funcional_logo" />
</div>
<div class="text-center">
    <h1 class="display-4" lang="en-us"> Motor de Estados com Modelo de Dados de Estrutra Dinâmica</h1>
</div>
