@model DinamicDataMvc.Models.ProcessDetailsModel

@{
    ViewData["Title"] = "ByVersion";
}

@await  Html.PartialAsync("_ByVersionHeader", Model)


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CreationDate)
            </td>
        </tr>
    </tbody>
</table>
